{
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
  },
  "globals": {
      "store": true
  },
  "rules": {
      "no-tabs": "off",
      "indent": ["error", "tab", {
    "SwitchCase": 1
  }],
      "eol-last": "off",
      "quotes": "off",
      "no-floating-decimal": "off",
      "space-before-function-paren": ["error", {
          "anonymous": "ignore",
          "named": "never",
          "asyncArrow": "always"
      }]
  }
}
